# Bonus: Temperature Analysis I

In [47]:
import pandas as pd
from datetime import datetime as dt

In [48]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [63]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])
print(type(df["date"][0]))
df.head()

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

### Compare June and December data across all years

In [50]:
from scipy import stats

In [64]:
# Filter data for desired months
jd_tobs = df.loc[(pd.DatetimeIndex(df["date"]).month == 6) |
                 (pd.DatetimeIndex(df["date"]).month == 12)]

jd_tobs.head(10)

         station       date  prcp  tobs
133  USC00519397 2010-06-01  0.00    78
134  USC00519397 2010-06-02  0.01    76
135  USC00519397 2010-06-03  0.00    78
136  USC00519397 2010-06-04  0.00    76
137  USC00519397 2010-06-05  0.00    77
138  USC00519397 2010-06-06  0.00    78
139  USC00519397 2010-06-07  0.00    77
140  USC00519397 2010-06-08  0.00    78
141  USC00519397 2010-06-09  0.00    78
142  USC00519397 2010-06-10  0.00    79

In [61]:
# Identify the average temperature for June
june_tobs = jd_tobs.loc[(pd.DatetimeIndex(jd_tobs["date"]).month == 6)]["tobs"]

june_tobs.mean()

74.94411764705882

In [62]:
# Identify the average temperature for December
dec_tobs = jd_tobs.loc[(pd.DatetimeIndex(jd_tobs["date"]).month == 12), "tobs"]

dec_tobs.mean()

71.04152933421226

In [69]:
# Run paired t-test
stats.ttest_ind(june_tobs, dec_tobs, equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis
#### We found out that:
- June mean temperature = 75F,
- December mean temperature = 71F.
#### To check if this difference is statistically significant we performed the Independent Ttest and found:
- pvalue <<<< 0.1, which means that the difference in the Average of June and December Temperatures is statistically significant.
- We chose independent test because June and December temperatures considered not to be related.